---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Color variables 
// white
$whitesmoke: #F5F5F5;
$mistyrose: #FFE4E1;
$seashell: #FFF5EE;
$linen: #FAF0E6;
$ivory: #FFFFF0;

// green
$teal: #008080;

// red
$firebrick: #B22222;
$indianred: #CD5C5C;
$crimson: #DC143C;

// purple
$rebeccapurple: #663399;
$lavender: #E6E6FA;
$darkslateblue: #483D8B;
$slateblue: #6A5ACD;
$indigo: #4B0082;

//
$plainblack: #000000;
$plainwhite: #ffffff;

body {
	margin: 0 auto;
	max-width: 40em;
	font-family: "Inconsolata", "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 4em 1em;
	color: $plainblack;
	background-color: $plainwhite;
}

a {
	color: $firebrick;
	text-decoration: none;
}

a:hover, a:focus {
    text-decoration:underline;
}

.tc {
    text-align: center;
}

/*h2 {
	margin-top: 1em;
	padding-top: 1em;
}*/

h1, h2, h3, h4, h5, h6, {
	font-family: "Helvetica", "Arial", sans-serif;
}


ul li, ol li {
    word-wrap: break-word;
}
ul {
	padding: 0 20px 0 20px;
	list-style-type: square;
}
li {
	text-align: -webkit-match-parent;
}


h1.site-title {
	text-align: center;
	font-size: 3em;
	letter-spacing: .2em;
	font-family: 'avenir next', avenir, "Helvetica", "Arial", sans-serif;
	margin: 0 0 1rem 0;
}
h1.site-title a {
	color: #000000;
}

.site-header {
	font-size: 1.25rem;
	margin-top: 1rem;
}


.image-wrapper{
  max-width:90%;
  height:auto;
  position: relative;
  display:block;
  margin:0 auto;
}

.image-wrapper img{
  max-width:100% !important;
  height:auto;
  display:block;
}

figure {
	margin: 0;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

// post
.post-title {
	text-align: center;
}
//

// pagination
.pagination {
	margin: 3rem 0;
	font-weight: bold;
}
//

// psot date
.post-date {
}
//

//
.blogindex {
	margin: 0 auto;
	max-width: 40em;
}
//

$spacing-unit:     30px;

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: 0;
}

@import "syntax-highlighting";