<header class="pa3">
	<h1 class="f1 title tc"><a class="link black" href="/index.html">SOFTWAVE</a></h1>
</header>

<header class="tc">
  <div class="nowrap">
    <a title="About" href="/about" class="pb2-ns f4 fw4 dim link black-80 mr2 mr3-m mr4-l dib thingy">About</a>
    <a title="Work" href="/work" class="pb2-ns f4 fw4 dim link black-80 mr2 mr3-m mr4-l dib thingy">Work</a>
    <a title="Blog" href="/blog" class="pb2-ns f4 fw4 dim link black-80 mr2 mr3-m mr4-l dib thingy">Blog</a>
  </div>
</header>