<script src="/assets/js/three.js"></script>
<script src="/assets/js/app.js"></script>

<!-- Three.js Addons -->
<script src="/assets/js/threeaddon/controls/OrbitControls.js"></script>

<script src="/assets/js/threeaddon/postprocessing/EffectComposer.js"></script>
<script src="/assets/js/threeaddon/postprocessing/RenderPass.js"></script>
<script src="/assets/js/threeaddon/postprocessing/ShaderPass.js"></script>
<script src="/assets/js/threeaddon/shaders/CopyShader.js"></script>
<script src="/assets/js/threeaddon/shaders/LuminosityHighPassShader.js"></script>
<script src="/assets/js/threeaddon/postprocessing/UnrealBloomPass.js"></script>

<style>
    #blog-threejs canvas {
      /* force the canvas to fill out the entire area */
      width: 100%!important; height: 100%!important; 
      
      /* force the z-pos of the canvas to be on-top */
      z-index: -1; 
    }
    canvas {
		position: fixed;
		left: 0;
		top: 0;
		z-index: -1;
	}
</style>
<div id="blog-threejs"></div>

