---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title tc">{{ page.title }}</h1>
  </header>

  <!--
  <div class="post-content">
    {{ content }}
  </div>

  -->




  <div class="cf post-content">

    {% for post in site.categories.work limit:10 %}

      <div class="w-100 w-50-ns fl gal">
        <a href="{{ post.url | prepend: site.baseurl }}" class="f2 f1-l f3-xl link white pa4 pv5-ns dim db" title="SW" 
        style="background: {{ post.color }} url({{ post.image }}) no-repeat 0 0; background-size: cover; min-height: 135px;">
          <span class="ttu fw6 db">
            {{ post.title }}
          </span>
          <span class="db man measure lh-copy f5 white fw4">
            {{ post.description }}
          </span>
        </a>
      </div>

    {% endfor %}

  </div>

</article>


<!-- 

  <div class="cf fl-xl w-50-xl ph3 pt4 pb5 pv6-ns ph5-m ph6-l pl0-xl">

  -->