---
layout: default
---

<div class="home page-content wc-container">
	<div class="post">
		<h3 class="f3 post-title tc">{{ page.title }}</h3>
        
        <!--
		<p class="post-meta tc f5 black-50">
            {% if (page.categories.size > 0 %}
            <span class="categories">
            {{ page.categories | array_to_sentence_string }}
            </span> |
            {% endif %}
            <span class="post-date">
            {{ page.date | date: "%b %-d, %Y" }} 
            </span>
          </p>
        -->

		{{ content }}
	</div>
</div>