<div class="header">
  <!-- TITLE -->
  <h1 class="title">{{ site.title }}</h1>
  <!-- <h5 class="subtitle">{{ site.description }}</h5> -->

  <!-- NAV BAR -->
  <ul class="navbar">
    <li>
      <a href="/projects" class="hover-underline-animation">projects</a>
    </li>
    <li>
      <a href="/pages" class="hover-underline-animation">pages</a>
    </li>
    <li>
      <a href="https://github.com/Softwave" class="hover-underline-animation">github</a>
    </li>
    <li>
      <a href="https://softwave.itch.io/" class="hover-underline-animation">itch.io</a>
    </li>
  </ul>
  
</div>